@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&family=Vollkorn:wght@500&display=swap');
header{
  margin: 0px;

  color: white;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*position: -webkit-sticky;
  position: sticky;*/
  /*background-color: rgba(211,156,247,1); */
  top: 0;
}
.headerText{
  margin: 10px;
  color: black;
}
header button{
  margin: 20px 20px 20px 0px;
  padding: 1vmin;
  font-family: Vollkorn;
  font-weight: bold;
}
h1{
  margin-top: 0px;
  margin-bottom: 0vmin;
  text-decoration: none;
  color: black;
  font-size: 2.5vmax;
  font-family: Poppins;

}
p{
  margin: 0px;
  font-family: Poppins;
  font-size: 1.3vmax;
}
a{
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}
