@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Poppins&family=Vollkorn:wght@500&display=swap');
.Songs{



}
.imgAndPreview{
  display: flex;
  flex-flow: column wrap;
  align-items: center;


}
.previewSection{
  display: flex;
  justify-content: center;

}
audio.audioToggle{
  display: none;
  margin: 10px;
  width: 250px;
  height: 30px;
}
.songImage{
  width: 100%;
  height: 100%;

}
.songImage:hover{
  filter: blur(1px);
  cursor: pointer;
}
.trackTile{
  margin: 1.2vmax;
  display: flex;
  flex-flow: row wrap;
  width: 17vmax;
  align-items: center;


}
.songInfo{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: Poppins;
  margin: 5px;

}
.songInfo a{
  text-decoration: none;
  font-family: Anton;
  font-size: 1.5em;
  color: black;

}
.songInfo a:hover{
  color: #CC5A71;
}
.previewSection{
  width: 100%;
}
