@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&family=Vollkorn:wght@500&display=swap');

.App{
  text-decoration: underline;

}
.appDiv{
  display: flex;
  flex-flow: column;
  background-color: #d9d8f3;
}

.RecentSongs{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;


}

.recomendedList{
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}
.nameDisplay{
  display: flex;
  justify-content: center;
  font-family: Poppins;
}
.nameDisplay h2{
  margin: 1vmin 0vmin
}
